{% extends 'index/base.html' %}
{% block content%}
<header class="container-fluid p-3 encabezado">
    <h1 class="text-center kanit-semibold">Iniciar Sesión</h1>
</header>
<div class="login-container">
    <section class="login-section">
        <form id="loginForm" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Iniciar Sesión"></button>
        </form>
        <p class="kanit-regular">No tienes una cuenta? <a href="{% url 'signup' %}">Registro</a></p>
    </section>
    
</div>

{% endblock %}