{% extends 'index/base.html' %}

{% load static %}
{% block title%}
<title>JDC - Registro</title>
{% endblock %}
{% block content %}
    <header class="container-fluid p-3 encabezado">
        <h1 class="text-center kanit-semibold">Registro</h1>
    </header>
    <!-- {% if mensaje %}
    <div class="d-flex justify-content-center align-items-center mt-2 mb-1">
        <p class="kanit-regular">{{mensaje}}</p>
    </div>
    {% else %}
    <div class="d-flex justify-content-center align-items-center">
        <p class="kanit-regular"></p>
    </div>
    {% endif %} -->
    <div class="signup-container">
        <section class="signup-section">
            <form id="signupForm" action="" method="POST">
                {% csrf_token %}
                <label class="kanit-regular" for="">{{form.email.label}}</label>
                <input type="email" name="email" id="email" placeholder="{{form.email.label}}">

                <label class="kanit-regular" for="">Contraseña</label>
                <input type="password" name="pass1" id="password" maxlength="10" placeholder="Contraseña">
                
                <label class="kanit-regular" for="">Repetir Contraseña</label>
                <input type="password" name="pass2" id="rPassword" maxlength="10" placeholder="Repetir Contraseña">

                <label class="kanit-regular" for="">{{form.rut_cliente.label}}</label>
                <input type="text" name="rutCliente" id="rut" maxlength="10" placeholder="11222333-4">

                <label class="kanit-regular" for="">{{form.pnombre_cliente.label}}</label>
                <input type="text" name="pNombre" id="pNombre" placeholder="Juan">

                <label class="kanit-regular" for="">{{form.snombre_cliente.label}}</label>
                <input type="text" name="sNombre" id="sNombre" placeholder="Carlos">

                <label class="kanit-regular" for="">{{form.apaterno_cliente.label}}</label>
                <input type="text" name="aPaterno" id="aPaterno" placeholder="López">

                <label class="kanit-regular" for="">{{form.amaterno_cliente.label}}</label>
                <input type="text" name="aMaterno" id="aMaterno" placeholder="Pérez">

                <label class="kanit-regular" for="">{{form.direccion.label}}</label>
                <input type="text" name="direccion" id="direccion" placeholder="Calle 123">

                <label class="kanit-regular" for="">Región</label>
                <select class="form-select" id="region" name="regiones" id="">
                    <option value="" selected>---</option>
                {% for region in regiones %}
                    <option value="{{region}}">{{region}}</option>
                {% endfor %}
                </select>
                <label class="kanit-regular" for="">Comuna</label>
                <select class="form-select" name="comunas" id="comuna">
                    <option value="" selected>---</option>
                    {% for comuna in comunas %}
                        <option class="comuna" name="{{comuna.id_region}}" value="{{comuna}}">{{comuna}}</option>
                    {% endfor %}
                    </select>
                <input class="kanit-semibold" id="btnSubmit" type="submit" name="opcion" value="Registrar">
            </form>
        </section>
    </div>
    {% if mensaje %}
    <div class="fixed-top d-flex justify-content-center align-items-center">
        <p class="alert error kanit-regular" id="warn">{{mensaje}}</p>
    </div>
    {% else %}
    <div id="warnDiv" class="fixed-top d-flex justify-content-center align-items-center">
    </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'index/js/signup.js' %}"></script>
{% endblock %}