{% extends 'index/base.html' %} {% load static %} 
{% block title %}
<title>JDC - Boleta</title>
{% endblock %} 
{% block content %}
<header class="container-fluid p-3 encabezado">
  <h1 class="text-center kanit-semibold">Boleta de Compra</h1>
</header>
<section class="h-100 h-custom carro">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2 p-3" style="border-radius: 15px">
                
          <h2 class="kanit-semibold">Datos del Cliente</h2>
          <p class="kanit-regular">Nombre: {{ nombre }}</p>
          <p class="kanit-regular">Email: {{ email }}</p>
          <p class="kanit-regular">Dirección: {{ direccion }}</p>
          <p class="kanit-regular">Comuna: {{comuna}}</p>
          <p class="kanit-regular">Región: {{region}}</p>

          <h2 class="kanit-semibold">Detalle de la Compra</h2>
          <table>
            <thead>
              <tr>
                <th class="kanit-regular">Producto</th>
                <th class="kanit-regular">Cantidad</th>
                <th class="kanit-regular">Precio Unitario</th>
                <th class="kanit-regular">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr>
                <td class="kanit-light">{{ item.producto.nombre_prod }}</td>
                <td class="kanit-light">{{ item.cantidad }}</td>
                <td class="kanit-light">{{ item.producto.precio }}</td>
                <td class="kanit-light">{{ item.total }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p class="kanit-light">Subtotal: $ {{ subtotal }}</p>
          <p class="kanit-semibold">Total: $ {{ total }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
