{% extends 'index/base.html' %}

{% load static %}

{% block title %}
    <title>JDC - Carrito</title>
{% endblock %}

{% block content %}
    <section class="h-100 h-custom carro">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5" id="carritoCol">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 kanit-semibold">Detalle</h1>
                                            <h6 class="mb-0 text-muted kanit-light" id="itemCount"></h6>
                                        </div>
                                        <hr class="my-4">
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1 kanit-semibold">Boleta</h3>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase kanit-regular">Productos </h5>
                                            <h5 class="kanit-regular" id="subTotal">$0</h5>
                                        </div>
                                        <h5 class="text-uppercase mb-3 kanit-regular">Envio</h5>
                                        <div class="mb-4 pb-2">
                                            <select id="selectEnvio" class="form-select kanit-regular">
                                                <option value="1">ENVIO ESTANDAR $3.500-</option>
                                                <option value="2">STARKEN $5.000-</option>
                                                <option value="3">CHILEXPRESS $4.500-</option>
                                                <option value="4">CORREOS DE CHILE $7.000-</option>
                                            </select>
                                        </div>
                                        <h5 class="text-uppercase mb-3 kanit-regular">Codigo descuento</h5>
                                        <div class="mb-5">
                                            <div class="form-outline">
                                                <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                                <label class="form-label kanit-light" for="form3Examplea2">Ingresa el codigo</label>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase kanit-regular">Precio total</h5>
                                            <h5 class="kanit-semibold" id="totalPrice">$0</h5>
                                        </div>
                                        <button type="button" id="comprarBtn" class="btn btn-dark btn-block btn-lg kanit-semibold">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}